/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #006d6d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}

/* Containers */
.start-container, .quiz-container, .result-container {
    background-color: #ffffff;
    color: #006d6d;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    margin: 10px 0;
    font-size: 24px;
}

p {
    margin: 10px 0;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Quiz Options */
.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-btn {
    background-color: #e7e7e7;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.option-btn:hover {
    background-color: #d4d4d4;
}

.option-btn.correct {
    background-color: #4caf50;
    color: white;
}

.option-btn.incorrect {
    background-color: #f44336;
    color: white;
}

/* Result Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: #333;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
}
